@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root {
    --text-white: #fff;
    --gray: #333;
    --text-dark: #000;
    

}

/* common settings which related with colors and background-colors, etc */
.bg-gray{
    background-color: var(--text-gray);
}


/* common sizes */
.w-40 {
    width: 40%;
}


/* banner background */
.banner {
    background-image: url('../images/index/image.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}



/* titles settings */
h1 {
    font-size: 132px;
    color: var(--text-white);
}

h2 {
    font-size: 32px;
    color: var(--text-white);
}
